@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;

    color: #303030;
    font-size: 16px;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

header {
    padding: 20px 45px 20px 45px;

    display: flex;

    justify-content: stretch;
}

.logo { 
    background-image: url('/lb.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;

    margin-top: 5px;
    display: inline-block;

    flex: 0 0 32px;
    margin-right: 30px;

    cursor: pointer;

    transition: ease-out 0.1s;

}

.logo:hover {
    background-size: 80% 80%;
}

.logo-text {
    font-weight: 300;
    font-size: 1.0em;

    display: none;
}

.search {
    display: inline-block;
    padding: 8px 15px 10px 15px;
    background: #f1f1f1;

    border-radius: 5px;

    flex: 0 0 40px;
}

.search input {
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
}

.page-body {
    height: calc(100% - 82px - 60px);
    width: calc(100% - 60px);
    padding: 30px;

}

.page-title {
    width: 100%;
}

.lesson-title-short { 
    padding: 0 0 0 20px;
    font-size: 1.5em;
    font-weight: 600;
}

.lesson-title-full {
    padding: 0 0 0 20px;
    font-size: 1.0em;
    color: #cacaca;
}

.page-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.grid-line {
    padding: 20px;

}

.f-1 {
    flex: 1;
}

.f-2 {
    flex: 2;
}

.timetale-box {
    padding-top: 10px;
}



.timetable-title {
    font-weight: 600;
    border-bottom: 1px solid #cdcdcd;
}


.timetalbe-item {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: #f1f1f1;
    overflow: hidden;

    margin-top: 10px;

    display: flex;
    justify-content: flex-start;

    transition: ease-out 0.1s;

    cursor: pointer;
}

.timetalbe-item:hover {
    margin-left: -10px;
    margin-right: 10px;
}

.tt-item-left {
    padding-right: 20px;
}

.tt-item-left-top {
    font-weight: 600;
    margin-top: 3px;
}

.tt-item-left-bot {
    color: #575757;
    margin-top: -5px;
}

.tt-item-teacher {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
}

.tt-item-place {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tt-item-events {
    text-align: right;
    line-height: 45px;
    font-size: 1.0em;
    justify-self: flex-end;
    margin-left: auto;

    min-width: 35px;
}

.tt-item-place span {
    color: #979797;
}

.tt-t0:hover {
    background-color: #e4f1e2;
}

.tt-t1:hover {
    background-color: #f8eae8;
}
.tt-t2:hover {
    background-color: #e3f1f3;
}

.tt-information {
    display: none;
}

.grid-attachment-list {
    max-width: 400px;
    min-width: 240px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;

    overflow: hidden;
}

.attachment-item {
    flex: 1 1 80px;
    height: 80px;
    background-color: #f1f1f1;
    transition: 0.1s;
}


.attachment-item:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.newone {
    font-weight: 800;
    background-color: #d3e1ec;

    color: #ffffff;
    text-align: center;
    line-height: 80px;
    font-size: 4em;
}   

.newone:hover {
    background-color: #a4c4dd;
}

.event-item {
    display: flex;
    margin-bottom: 10px;
}

.event-title {
    font-weight: 700;
}

.event-finished {
    width: 5px;
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f1f1f1;
    margin-right: 10px;
}

.event-fn-loader {
    width: 100%;
    background-color: #8fa6d8;
}

.event-desc {
    font-weight: 300;
    color: #575757;
}

.event-progress {
    height: 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
    overflow: hidden;
}

.event-pr-loader {
    background-color: #da7878;
    height: 100%;
}