html
    head
        title UBot
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./page.css
    body
        header
            .logo
            .logo-text <b>U</b>Bot
            .search
                input#search(type="text", name="ubot_search", placeholder="Serach smth....")
        .page-body
            .page-title
                .lesson-title-short= info.short
                .lesson-title-full=  info.name
            .page-grid
                div.grid-line.f-1
                    include ../partial/timetable.pug
                
                div.grid-line.f-2
                    include ../partial/event.pug
                    .grid-comments Комменты
                div.grid-line.f-1
                    include ../partial/attachment.pug
                    